__pycache__/
.pytest_cache/
.venv/
venv/
env/
.env
*.pyc
*.pyo
*.pyd
*.swp
*.egg-info/
dist/
build/
/.mypy_cache
/.DS_Store

# IDEs
.vscode/

# wes-api is its own separate git repository, not part of this one
/wes-api/
